@charset "UTF-8";

@media screen and (max-width: 768px)

{
    section#telefone {position: absolute;
        height: 600px;
        width: 311px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url('../imagens/frame-iphone.png') no-repeat;
        background-size: 72%;
        background-position: center  center;
    }


    iframe#tela {
    position: relative;
    top: 104px;
    left: 44px;
    width: 222px;
    height: 396px;
}







}