@charset "UTF-8";

@media screen and (max-width: 768px)

{
    section#telefone {position: absolute;
        height: 600px;
        width: 311px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url('../imagens/frame-iphone.png') no-repeat;
        background-size: 72%;
        background-position: center  center;
    }


    iframe#tela {
    position: relative;
    top: 131px;
    left: 62px;
    width: 188px;
    height: 338px;
}

section#meusprojetos {
    text-align: right;
    display:  flex;
    flex-direction: row;
       }

section#meusprojetos > a > img 

{       display: flex;
        width: 40px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.486);
        box-sizing: border-box;
}






}